.intro__list {
  list-style-type: none;
  color: white;
  padding: 0;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 64px;
}

@media screen and (min-width: 768px) {
  .intro__list {
    margin-bottom: 88px;
  }
}

@media screen and (min-width: 1024px) {
  .intro__list {
    margin-bottom: 92px;
  }
}
