.header {
  justify-content: space-between;
  margin: 0;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  align-content: center;
  padding: 16px auto 0;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .header {
    width: 928px;
    padding: 28px auto 0;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    width: 1184px;
    margin: 0 auto 28px;
  }
}
