.place__website-caption {
  margin: 0;
  color: #AAAAAA;
  margin-bottom: 13px;
  text-transform: uppercase;
  font-family: 'Inter',Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  }

  @media screen and (min-width: 1024) {
    .place__website-caption {
      font-size: 18px;
      line-height: 22px;
    }
  }
