.lead__title {
  margin: 0 auto;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 40px;
  line-height: 44px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .lead__title {
    font-size: 96px;
    line-height: 100px;
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .lead__title {
    max-width: 720px;
  }
}
