.footer__copyright {
  margin-top: 48px;
  margin-bottom: 24px;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #FFFFFF;
  width: 186px;
}

@media screen and (min-width: 768px) {
  .footer__copyright {
    margin: 0;
    margin-left: auto;
    line-height: 16px;
    justify-self: stretch;
    justify-self: end;
  }
}
