.cover {
  color: white;
  padding-top: 70px;
}

@media screen and (min-width: 320px) {
  .cover {
    padding-top: 50px;
  }
}

@media screen and (min-width: 1024px) {
  .cover {
    padding-top: 70px;
  }
}
